version: 2.1

parameters:
  build_image:
    type: string
    default: "circleci/python:3.8" 

  aws_prefix:
    type: string
    default: "ECR_"
 
jobs:

  build:
    environment:
      DOCKER_IMAGE: "circleci-deploy"
    docker:  
      - image: << pipeline.parameters.build_image >>
    steps:
      - checkout
      - setup_remote_docker
      - run: env
      - run:
          name: Install AWS CLI
          command: |
            sudo pip install awscli 
      - run:
          name: Set environment variables
          command: |
            echo 'export AWS_ACCESS_KEY_ID="${<< pipeline.parameters.aws_prefix >>AWS_ACCESS_KEY}"' >> $BASH_ENV
            echo 'if [ -z "$AWS_ACCESS_KEY_ID" ]; then export AWS_ACCESS_KEY_ID="${<< pipeline.parameters.aws_prefix >>AWS_ACCESS_KEY_ID}"; fi' >> $BASH_ENV
            echo 'export AWS_SECRET_ACCESS_KEY="${<< pipeline.parameters.aws_prefix >>AWS_SECRET_ACCESS_KEY}"' >> $BASH_ENV
            echo 'if [ -z "$AWS_SECRET_ACCESS_KEY" ]; then export AWS_SECRET_ACCESS_KEY="${<< pipeline.parameters.aws_prefix >>AWS_SECRET_KEY}"; fi' >> $BASH_ENV
            echo 'export TAG=0.1.$CIRCLE_BUILD_NUM' >> $BASH_ENV
            echo 'export DOCKER_REGISTRY=$<< pipeline.parameters.aws_prefix >>AWS_ACCOUNT_ID.dkr.ecr.$<< pipeline.parameters.aws_prefix >>AWS_DEFAULT_REGION.amazonaws.com' >> $BASH_ENV
            source $BASH_ENV

            echo $AWS_ACCESS_KEY_ID
            echo $AWS_ACCESS_SECRET_KEY
      - run:
          name: Login to Docker registry
          command: |
            LOGIN_COMMAND=$(aws ecr get-login --region $ECR_AWS_DEFAULT_REGION --no-include-email)
            $LOGIN_COMMAND
      - run:
          name: Build Docker image 
          command: |
            docker build -t $DOCKER_IMAGE:$TAG .
      - run:
          name: Tag Docker image 
          command: |
            docker tag $DOCKER_IMAGE:$TAG $DOCKER_REGISTRY/$DOCKER_IMAGE:latest
            docker tag $DOCKER_IMAGE:$TAG $DOCKER_REGISTRY/$DOCKER_IMAGE:$TAG
      - run:
          name: Push Docker image 
          command: |            
            docker push $DOCKER_REGISTRY/$DOCKER_IMAGE:$TAG
            docker push $DOCKER_REGISTRY/$DOCKER_IMAGE:latest
